{% extends 'base.html' %}
{% block content %}
<div class="container">
    <section id="main">
        <h1 class="heading">About Project</h1>
        <p>India will have a demand of 180 metric ton rice by 2050 which would need genetic improvements
            in the rice varieties. Landraces have high genetic variability among different groups of
            germplasm, are better adapted to the environment and are source of highly co-adpated genotypes.
            Through phenotyping and high-throughput genootyping, the entire Indian landrace diversity will be captured.
            This will be utilized for genome wide association studies (GWAS) to elucidate the genetics of key agronomic 
            and nutritional traits. Useful donors for valuable traits will be identified using genomic prediction techniques
            and will be utilized for developing pre-breeding material for enriching rice varietal development.
        </p>
        <h1 class="heading">Objectives</h2>
        <ol>
            <li>Genetic characterization of rice landraces and development of core set:
                <ol type="a">
                    <li>To characterize, multiply and phenotype unique rice landraces available at
                        NGB and partner institutes (~15,000)</li>
                    <li>Development of DNA Bank for unique rice landraces</li>
                    <li>High-throughput SNP genotyping (90K Chip) of all the landraces</li>
                    <li>Development of core set (~1500 – about 10 % of total rice landraces)</li>
                </ol>
            </li>
            <li>Trait discovery and mapping:
                <ol type="a">
                    <li>Multi-location evaluation of core set for yield components, tolerance to
                        abiotic, biotic stresses, resource use efficiency, grain & nutritional traits</li>
                    <li>GWAS for yield components, abiotic, biotic stress tolerance and grain and
                        nutritional quality traits</li>
                    <li>Re-sequencing of Core set (~1500 accessions) using NextGen sequencing
                        (Illumina/ PacBio) for gene discovery</li>
                    <li>Development of a interactive database for storage phenotypic and genotypic
                        information.</li>
                </ol>
            </li>
            <li>Development of elite donors for yield components, tolerance to abiotic, biotic
                stresses and nutritionally important traits:
                <ol type="a">
                    <li>Identification of promising donors for target traits from the core sets.</li>
                    <li>Development of elite donors through pre-breeding to incorporate traits from
                        donors to elite germplasm</li>
                </ol>
            </li>
            <li>Human resource development:
                <ol type="a">
                    <li>Training of Scientists in the International laboratories for large data set
                        analysis and Genomic Selection.</li>
                    <li>Workshops for GWAS/ Re-sequencing/Genomic Selection.</li>
                </ol>
            </li>
        </ol>
    </section>
</div>
{% endblock %}