{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Rice Landraces</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cards.css' %}">
    <!--fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Roboto&display=swap" rel="stylesheet"> 
</head>
<body>
    <header id="main-header">
        <div class="container">
            <h1>Rice Landraces</h1>
        </div>
        <nav id="navbar">
        <div class="container">
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'collaborators' %}">Collaborators</a></li>
                <li><a href="{% url 'contact' %}">Contact Us</a></li>
                {% if user.is_authenticated %}
                    <li style="float: inline-end;">
                        <a href="{% url 'logout' %}">Logout</a></li>
                    <li style="float: inline-end;">
                        <a href="{% url 'services' %}">My Services</a></li>
                    <li style="float: inline-end;">
                        <a href="{% url 'profile' %}">Profile</a></li>
                {% else %}
                    <li style="float: inline-end;">
                        <a href="{% url 'register' %}">Register</a></li>
                    <li style="float: inline-end;">
                        <a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
            <!-- <div class="container" style="display: inline;">
                <ul style="text-align: end;">
                    <li>Login</li>
                    <li>Register</li>
                </ul>
            </div> -->
        </div>
    </nav>
    </header>
    <div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                   <li class="ml-4">{{ message }}</li> 
                </div>
            {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
    <footer id="main-footer">
		<p>Copyright &copy; 2020 UDSC</p>
    </footer>
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
