{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h1 class="heading">Collaborators</h1>
    <div class="row">
        <div class="column">
          <a href="https://www.iari.res.in/" target="_blank">
            <div class="card" title="Indian Council of Agricultural Research-Indian Agricultural Research Institute">
              <p><img src="{% static 'images/collaborator-logos/icar-iari.png' %}" width="100" alt="ICAR-IARI Logo"></p>
              <p class="cardheading">
                <abbr title="Indian Council of Agricultural Research-Indian Agricultural Research Institute">ICAR-IARI</abbr></p>
              <p>New Delhi</p>
            </div>
          </a>
        </div>
        <div class="column">
          <a href="http://www.nbpgr.ernet.in/" target="_blank">
            <div class="card" title="Indian Council of Agricultural Research-National Bureau of Plant Genetic Resources">
              <p><img src="{% static 'images/collaborator-logos/icar-nbpgr.png' %}" width="100" alt="ICAR-NBPGR Logo"></p>
              <p class="cardheading">
                <abbr title="Indian Council of Agricultural Research-National Bureau of Plant Genetic Resources">ICAR-NBPGR</abbr></p>
              <p>New Delhi</p>
            </div>
          </a>
        </div>
        <div class="column">
          <a href="https://icar-nrri.in/" target="_blank">
            <div class="card" title="Indian Council of Agricultural Research-National Rice Research Institute">
              <p><img src="{% static 'images/collaborator-logos/icar-nrri.png' %}" width="100" alt="ICAR-NRRI Logo"></p>
              <p class="cardheading">
                <abbr title="Indian Council of Agricultural Research-National Rice Research Institute">ICAR-NRRI</abbr></p>
              <p>Cuttack</p>
            </div>
          </a>
        </div>
        <div class="column" title="Indian Council of Agricultural Research-Indian Institute of Rice Research">
          <a href="https://www.icar-iirr.org" target="_blank">
            <div class="card">
              <p><img src="{% static 'images/collaborator-logos/icar-iirr.png' %}" width="100" alt="ICAR-IIRR Logo"></p>
              <p class="cardheading">
                <abbr title="Indian Council of Agricultural Research-Indian Institute of Rice Research">ICAR-IIRR</abbr></p>
              <p>Hyderabad</p>
            </div>
          </a>
        </div>
      </div>

      <br>
      
      <div class="row">
        <div class="column">
          <a href="https://iasri.icar.gov.in" target="_blank">
            <div class="card" title="Indian Council of Agricultural Research-Indian Agricultural Statistics Research Institute">
              <p><img src="{% static 'images/collaborator-logos/icar-iasri.png' %}" width="100" alt="ICAR-IASRI Logo"></p>
              <p class="cardheading">
                <abbr title="Indian Council of Agricultural Research-Indian Agricultural Statistics Research Institute">ICAR-IASRI</abbr></p>
              <p>New Delhi</p>
            </div>
          </a>
        </div>
        <div class="column">
          <a href="https://nipgr.ac.in" target="_blank">
            <div class="card" title="National Institute of Plant Genome Research">
              <p><img src="{% static 'images/collaborator-logos/nipgr.png' %}" width="100" alt="NIPGR Logo"></p>
              <p class="cardheading">
                <abbr title="National Institute of Plant Genome Research">NIPGR</abbr></p>
              <p>New Delhi</p>
            </div>
          </a>
        </div>
        <div class="column">
          <a href="https://www.pau.edu/" target="_blank">
            <div class="card" title="Punjab Agriculture University">
              <p><img src="{% static 'images/collaborator-logos/pau.png' %}" width="100" alt="PAU Logo"></p>
              <p class="cardheading">
                <abbr title="Punjab Agriculture University">PAU</abbr></p>
              <p>Ludhiana</p>
            </div>
          </a>
        </div>
        <div class="column">
          <a href="https://skuastkashmir.ac.in/" target="_blank">
            <div class="card" title="Sher-e-Kashmir University of Agricultural Sciences and Technology">
              <p><img src="{% static 'images/collaborator-logos/skuast.png' %}" width="100" alt="SKUAST Logo"></p>
              <p class="cardheading">
                <abbr title="Sher-e-Kashmir University of Agricultural Sciences and Technology">SKUAST</abbr></p>
              <p>Kashmir</p>
            </div>
          </a>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="column">
          <a href="https://igkvmis.cg.nic.in/igkv/index.aspx" target="_blank">
            <div class="card" title="Indira Gandhi Krishi Vishwavidyalaya">
              <p><img src="{% static 'images/collaborator-logos/igkv.png' %}" width="100" alt="IGKV Logo"></p>
              <p class="cardheading">
                <abbr title="Indira Gandhi Krishi Vishwavidyalaya">IGKV</abbr></p>
              <p>Raipur</p>
            </div>
          </a>
        </div>
        <div class="column">
          <a href="http://www.aau.ac.in/" target="_blank">
            <div class="card" title="Assam Agricultural University">
              <p><img src="{% static 'images/collaborator-logos/aau.png' %}" width="100" alt="AAU Logo"></p>
              <p class="cardheading">
                <abbr title="Assam Agricultural University">AAU</abbr></p>
              <p>Jorhat</p>
            </div>
          </a>
        </div>
        <div class="column">
          <a href="https://www.uasbangalore.edu.in/index.php" target="_blank">
            <div class="card" title="Zonal Agricultural Research Station, V. C. Farm, University of Agricultural Sciences (Bengaluru)">
              <p><img src="{% static 'images/collaborator-logos/zars-uas.png' %}" width="100" alt="ZARS UAS Logo"></p>
              <p class="cardheading">
               <abbr title="Zonal Agricultural Research Station, V. C. Farm, University of Agricultural Sciences (Bengaluru)">ZARS (UAS, Bengaluru)</abbr></p>
              <p>Mandya</p>
            </div>
          </a>
        </div>
        <div class="column">
          <a href="https://tnau.ac.in/" target="_blank">
            <div class="card" title="Tamil Nadu Agriculture University">
              <p><img src="{% static 'images/collaborator-logos/tnau.png' %}" width="100" alt="TNAU Logo"></p>
              <p class="cardheading">
                <abbr title="Tamil Nadu Agriculture University">TNAU</abbr></p>
              <p>Aduthurai</p>
            </div>
          </a>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="column">
          <a href="https://angrau.ac.in/angrau/research.php" target="_blank">
            <div class="card" title="Acharya N. G. Ranga Agricultural University, Regional Agricultural Research Station">
              <p><img src="{% static 'images/collaborator-logos/angrau.png' %}" width="100" alt="ANGRAU Logo"></p>
              <p class="cardheading">
                <abbr title="Acharya N. G. Ranga Agricultural University, Regional Agricultural Research Station">ANGRAU</abbr></p>
              <p>Maruteru</p>
            </div>
          </a>
        </div>
        <div class="column">
          <a href="http://du.ac.in/du/index.php?page=south-campus-2" target="_blank">
            <div class="card" title="University of Delhi South Campus">
              <p><img src="{% static 'images/collaborator-logos/udsc.png' %}" width="100" alt="UDSC Logo"></p>
              <p class="cardheading">
                <abbr title="University of Delhi South Campus">UDSC</abbr></p>
              <p>New Delhi</p>
            </div>
          </a>
        </div>
      </div>

      

      <br>
    
</div>

{% endblock %}