{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="heading">Contact Us</h1>
    <aside id="sidebar">
        <p> <strong>Address: </strong>University of Delhi South Campus</p>
        <p><strong>Website: </strong> <a href="http://genomeindia.du.ac.in" target="_blank">genomeindia.du.ac.in</a></p>
        <p><strong>email: </strong> <a href="mailto:saurabh@genomeindia.org">saurabh@genomeindia.org</a></p>
    </aside>
{% endblock %}
</div>
