{% extends 'base.html' %}

{% block content %}
	<section id="showcase">
		<div class="container">
			<h1>Enabling the development of improved and climate resilient rice varieties
			</h1>
		</div>
	</section>

	<div class="container">
		<section id="main">
			<h1 class="heading">Welcome</h1>
			<p class="paragraph">
				Rice is an important staple crop in India with significant historical and cultural connotations. With a growing consumption of rice, there will be a need to develop high yielding varieties of rice which can thrive in diverse habitats.
				This website aims to provide tools to collect and analyze data on landraces which are locally adopted for different agro-ecological regions. The data can range from phenotype data collected from rice fields to genomic and high-throughput sequencing
				data with a potential for genomic selection using GWAS. Tools will get added eventually. Stay tuned!
			</p>
		</section>
<!--		<aside id="sidebar">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud </p>
		</aside> -->
	</div>
{% endblock %}
