{% extends "base.html" %}
{% block content %}
<div class="container" id="content-wrap">
    <div class="row">
        <div class="col-md-10">
            <legend class="heading border-bottom mb-4">Uploaded Files</legend>
            {% if file_list %}
            <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">File Name</th>
                    <th scope="col">Uploaded By</th>
                    <th scope="col">Organization</th>
                    <th scope="col">Upload Date</th>
                    <!-- <th scope="col"></th> -->
                  </tr>
                </thead>
                <tbody>    
                {% for file in file_list %}
                    <tr>
                        <td>{{ file.file_name.name }}</td>
                        <td>{{ file.user }}</td>
                        <td>{{ file.user.profile.organization.name }}</td>
                        <td>{{ file.uploaded_at }}</td>
                        <!-- <td>{{ sched.duration }}</td> -->
                    </tr>
                {% endfor %}
                </tbody>
              </table>
            {% else %}
                <p></p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}

