{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                    <legend class="heading border-bottom mb-4">Upload File</legend>  
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="ml-3 btn btn-outline-info" type="submit">Upload</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-4">
                <div class="row">
                <a href="{% url 'uploaded-files' %}">List of uploaded files</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}