{% extends "base.html" %}
{% block content %}
<div class="container">
    <p>Activation link sent to the administrator for approval.
        Please contact your organization admin or site administrator.
    </p>
</div>
{% endblock %}