{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group col-sm-6">
                <legend class="heading border-bottom mb-4">Log In</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="ml-3 btn btn-outline-info" type="submit">LogIn</button>
                </div>
            </form>
            <div>
                <p>
                    <small class="ml-3">Forgot Password?
                        <a href="{% url 'password_reset' %}">Reset Now</a> 
                    </small>
                <br>
                    <small class="ml-3">Don't have an account?
                        <a href="{% url 'register' %}">Register Now</a>                  
                    </small>
                    <small class="ml-3">Resend activation link to admin?
                        <a href="{% url 'resend_activation'%}">Resend Link</a>                  
                    </small>
                </p>
            </div>
    </div>
{% endblock content %}