{% extends "base.html" %}
{% block content %}
    <div class="container">
        <p>Your password has been reset</p>
        <div>
            <small class="text-muted">
                <a href="{% url 'login' %}">Login Now</a>                  
            </small>
        </div>
    </div>
{% endblock content %}