{% extends "base.html" %}
{% block content %}
<div class="container">
    <p>
        An email with instructions for resetting the password has been sent to you.
        If you don't receive an email, please make sure you've entered the address you registered with,
        and check your spam folder.
    </p>
    <p>
        <a href="{% url 'resend_activation' %}">Resend activation link</a> to the admin if your account is not yet activated.
    </p>
</div>
{% endblock %}