{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
            {% if form %}
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group col-sm-6">
                <legend class="heading border-bottom mb-4">Change Password</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="ml-3 btn btn-outline-info" type="submit">Submit</button>
                </div>
            </form>
            {% endif %}
    </div>
{% endblock content %}