{% extends "base.html" %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}
{% block content %}
    <div class="container">
        <h1 class="heading">Profile for {{ user.username }}</h1>
        <a href="{% url 'password_change' %}">Change Password</a>
    </div>
{% endblock content %}