{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="col-sm-6 form-group">
                <legend class="heading border-bottom mb-4">Register</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="ml-3 btn btn-outline-info" type="submit">Sign Up</button>
                </div>
            </form>
            <div>
                <small class="ml-3">Already have an account?
                    <a href="{% url 'login' %}">Log In</a>                  
                </small>
            </div>
    </div>
{% endblock content %}