{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group col-sm-6">
                <legend class="heading border-bottom mb-4">Resend Activation Link</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="ml-3 btn btn-outline-info" type="submit">Resend Activation Link</button>
                </div>
            </form>
            <div>
                <small class="ml-3">Don't have an account?
                    <a href="{% url 'register' %}">Register Now</a>                  
                </small>
            </div>
    </div>
{% endblock content %}