{% extends "base.html" %}
{% load static %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}
{% block content %}
    <div class="container">
        <h1 class="heading">Services available for {{ user.username }}</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="column">
            <a href="{% url 'upload' %}">
                <div class = "card">
                <p><img src="{% static 'images/upload_file.png' %}" width="100" alt="Upload File Icon"></p>
                <p class="cardheading">Upload Files</p>
                </div>
            </a>
            </div>
        </div>
        <br>
    </div>
{% endblock content %}