/* * {
    box-sizing: border-box;
  }
   */
   a {
    text-decoration: none;
  }
  .cardheading {
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
    box-sizing: border-box;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {
      margin: 0 -5px;
    }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    box-sizing: border-box;
    padding: 16px;
    text-align: center;
    background-color: #ccedd2;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
  }

  .card:hover {
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }