#colorhunt{
	/*https://colorhunt.co/palette/168816*/
color:
#655c56
#94d3ac
#ccedd2
#effcef
}

.heading{
	font-family: 'Fira Sans', sans-serif;
	color: #000;
	font-weight: 500;
	font-size: 1.5em;
}

.paragraph{
	font-family: 'Roboto', sans-serif;
	color: #333333;
	font-weight: 400;
}

body{
	background-color:#effcef;
	color:#555;
	font-family: 'Roboto', sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
	padding: 15px 0 0 0;
}

#main-header{
	background-color:#94d3ac;
	color:#000;
	font-weight: bold;
	font-family: 'Fira Sans', sans-serif;
}

#navbar{
	background-color:#655c56;
	color:#fff;
	/* padding:20px; */
}

#navbar ul{
	padding:0;
	list-style: none;
}

#navbar li{
	display:inline;
}

#navbar a{
	color:#fff;
	text-decoration: none;
	font-size:18px;
	padding-right:15px;
}

#showcase{
	background-image:url('../images/showcase.jpg');
	background-position:center right;
	min-height:300px;
	margin-bottom:30px;
	text-align: center;
}

#showcase h1{
	color:#fff;
	font-size:50px;
	line-height: 1.6em;
	padding-top:30px;
	font-family: 'Fira Sans', sans-serif;
}

#main{
	float:left;
	width:90%;
	padding:0 30px;
	box-sizing: border-box;
}

#sidebar{
	float:left;
	width:30%;
	background: #ccedd2;
	color:#000;
	padding:10px;
	box-sizing: border-box;
}

#main-footer{
	background: #94d3ac;
	color:#000;
	text-align: center;
	padding:5px;
	margin-top:50px;
	
}

@media(max-width:600px){
	#main{
		width:100%;
		float:none;
	}

	#sidebar{
		width:100%;
		float:none;
	}
}
